.AdmissionContainer {
    text-align: center;
}

.css-1cnsbwu-MuiGrid-root {
    margin: 40px 15px 10px;
}

.css-u4tvz2-MuiFormLabel-root {
    font-weight: bold !important;

}

.css-1jssz31-MuiGrid-root {
    margin: 1% 0 !important;
}

.css-1nuw9uu-MuiGrid-root .MuiTextField-root {
    width: 98% !important;
}

.css-j204z7-MuiFormControlLabel-root {
    margin-left: 0 !important;
}

.css-jh47zj-MuiButtonBase-root-MuiButton-root {
    margin: 40px 0 0 !important;
}